body{
    background-color: rgba(0, 0, 0, 0.432);
    color: rgb(68, 30, 30);
    padding: 0px;
    margin: 0px;
}

.container{
    text-align: center;
    padding: 100px;
    /* border: 1px solid; */
}

.formulario{
    padding: 10px;
    /* border: 1px solid black; */
    /* background-color: rgba(0, 0, 0, 0.397); */
    color: black;
}

.area{
    padding: 5px;
    margin: 10px;
}